#footer
    #footer-top.footer-wrapper.layout-column
        #back-to-top.layout-row
            button.md-button
                span Back To Top
                i.fa-chevron-up.fa
        #link-row.layout-row
            #social-media.layout-row
                a#facebook.md-button(href='https://www.facebook.com/SITCONxHK')
                    b.fa.fa-facebook-official
    #footer-bottom.footer-wrapper
        .bottom-wrapper.layout-row
            #about.layout-row
                a.md-button(href='/', style='font-weight: bold;') SITCON x HK
                a.md-button(href='/coc') Code of Conduct
            #contact
                a.md-button(href='/contact') Contact