#header
    #navbar.layout-row
        a.brand.layout-row.header-column(href='/')
            img.logo(src='/images/logo/sitcon-x-hk-color.svg' alt='SITCON x HK')
            #title.layout-column
                h1.brand-title SITCON x HK
        #nav.layout-row.header-column.flex
            .layout-row
                a(href='/about') About
                a(href='/event') Event
                a(href='/sponsor') Sponsor

#banner.layout-column.flex