script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.5.1/jquery.nicescroll.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/react-router/2.3.0/ReactRouter.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.2.3/index.min.js")
script(src='/script/react.js')