script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
script(src='/script/vendor/vendor.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/react-router/2.3.0/ReactRouter.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.2.3/index.min.js")
script(src='/script/react.js')