<footer class="page-footer">
    <div class="row">
        <div class="col offset-l1 l3 s18">
            <h6 class="white-text left">SITCON x HK</h6>
        </div>
        <div class="col l6 s18 right">
            <a href="https://www.facebook.com/SITCONxHK/" class="right" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-inverse fa-stack-1x"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="footer-copyright">
            <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/hk/">
                <img alt="Creative Commons Licence" src="https://licensebuttons.net/l/by-sa/3.0/hk/88x31.png">
            </a>
            This work is licensed under a
            <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/hk/">
                CC BY-SA 3.0 Hong Kong License
            </a>.
            Logos and trademarks belong to their respective owners.
    </div>
</footer>