<ul id="side-nav" class="side-nav">
    <li class="logo">
        <a v-link="{ path: './' }" class="waves-effect">
            <logo height="57"></logo>
        </a>
    </li>

    <li>
        <a v-link="{ path: './coc' }" class="waves-effect">
            Code of Conduct
        </a>
    </li>
    <li>
        <a v-link="{ path: './sponsor' }" class="waves-effect">
            Call for Sponsor
        </a>
    </li>
    <li>
        <a v-link="{ path: './cfp' }" class="waves-effect">
            Call for Paper
        </a>
    </li>
    <li>
        <a v-link="{ path: './venue' }" class="waves-effect">
            Venue
        </a>
    </li>
    <li>
         <a v-link="{ path: './organizers' }" class="waves-effect">
             Organizers
         </a>
    </li>

    <li>
        <a v-link="{ path: './timetable' }" class="waves-effect">
            Timetable
        </a>
    </li>
</ul>