doctype html
html
    head
        include ./includes/head
    body
        include ./includes/header
        #wrap
            section
                #content
                    .md-card
                        .card-content.md-padding
                            .flex

        include ./includes/footer
        include ./includes/scripts