doctype html
html
    head
        include ./includes/head
    body
        include ./includes/header
        #wrap
            #home
                section#intro
                    div
                        .md-card.md-padding
                            .card-content
                                h1.center
                                    span.brand-green Let's Open Source
                                    br
                                    small Contribute for Open Source
                                h2.center.brand-red <b>S</b>tudent <b>IT</b> <b>Con</b>ference x HK

        include ./includes/footer
        include ./includes/scripts