doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title SITCON x HK 2016
        link(href="./favicon.ico" rel="icon")
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css")
        link(href="./css/app.css" rel="stylesheet" type="text/css")
    body
        #react-root
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/react-router/2.5.1/ReactRouter.min.js")
        script(src="./js/app.js")
