.page-enter {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
  opacity: 0.01;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;

  &.page-enter-active{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

.page-leave {
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  right: 15px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: 250ms ease-out;
  transition:250ms ease-out;.page-leave-active{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=1);opacity:0.01}

  &.page-leave-active {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
    opacity: 0.01;
  }
}
