@media only screen and (max-width: 600px) and (min-width: 321px) {
  .banner {
    min-height: 200px;
  }
}
.banner {
  background-image: url('../images/bg.jpg');
  background-color: $white;
  background-repeat-x: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  color: $white;
  min-height: 400px;
}
