.footer {
  background-color: $white;

  .footer-wrapper {
    padding: 20px;
  }

  .footer-top {
    border-bottom: 1px solid $gray;

    .back-to-top {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;

      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      button {
        -webkit-appearance: button;
      }
    }

    .social-media {
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
      padding: 8px;
      max-width: 100%;
    }
  }

  .footer-bottom {
    padding-top: 10px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    .bottom-wrapper {
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 100%;

      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    .about {
      max-width: 100%;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      a {
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.010em;
        color: $black;
        min-width: 0;
        padding: 1px 12px 0;
        vertical-align: bottom;
      }
    }

    .contact {
      max-width: 100%;
      box-sizing: border-box;

      a {
        min-width: 0;
        padding: 1px 12px 0;
        vertical-align: bottom;
      }
    }
  }
}