.header {
  background-color: $white;
  box-sizing: border-box;
  display: block;

  .header-column {
    height: 100%;
  }

  .navbar {
    background-color: inherit;
    padding: 0 8px;
    height: 84px;
    color: $black;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    font-size: 20px;
    min-height: 64px;
  }

  .brand {
    color: $theme-green;
    text-decoration: none;
    max-width: 100%;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    font-family: "Noto Sans", sans-serif;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    .logo {
      height: 46px;
      width: 46px;
      margin-right: 15px;
      border: 0 none;
      max-width: 100%;
      box-sizing: border-box;
    }

    .title {
      max-width: 100%;

      h1 {
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        margin: 0;
        font-size: 25px;
        box-sizing: border-box;

        font-weight: bold;
        color: $theme-green !important;

        font-family: 'Roboto', "Noto Sans", sans-serif;
      }
    }
  }

  .nav {
    max-width: 100%;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    display: none;



    div {
      padding: 0 10px;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      max-width: 100%;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }

    a {
      color: $theme-green;
      display: inline-block;
      font-size: 1.6rem;
      margin: 1px 5px;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px;
      min-width: 70px;
      text-align: center;
      box-sizing: border-box;
      border-radius: 10px;
      font-weight: 400;

      &:hover {
        font-weight: bold;
        color: darken($theme-green, 10%);
        background-color: darken($gray, 10%);
      }

      &.active {
        color: white;
        background-color: #A50014;
        font-weight: bold;
      }
    }

    .nav-button {
      max-width: 100%;
      box-sizing: border-box;

      button {
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.010em;
        color: rgba(0,0,0,0.87);
        text-decoration: none;
        padding: 1px 12px 0;

        span.icon-bar {
          background-color: #563d7c;
          margin-top: 4px;
          display: block;
          width: 22px;
          height: 2px;
          border-radius: 1px;
          box-sizing: border-box;
        }
      }
    }
  }
}

.banner {
  position: relative;
  background-color: $green;
  background-image: url('/images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-x: center;
  color: #fff;
  min-height: 264px;
}

@media (min-width: 768px) {
  .nav {
    display: flex !important;
  }
}

@media (min-width: 1200px) {
  .nav-button {
    display: none;
  }
}