@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:700);
* {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

h1, h2 {
  font-weight: 400;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

.center {
  text-align: center;
}

.md-button {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  text-decoration: none;
  color: $black;

  border-radius: 3px;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: relative;
  outline: none;
  border: 0;
  display: inline-block;

  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
  background: transparent;
  white-space: nowrap;

  text-align: center;
  //text-transform: uppercase;

  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.md-card {
  background-color: $white;
  border-radius: 2px;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 8px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

@media only screen and (min-width: 601px) {
  .md-padding {
    padding: 24px;
  }
}

.brand-red {
  color: $theme-red;
}

.brand-green {
  color: $theme-green;
}

a {
  text-decoration: none;
  color: $theme-green;

  &:hover {
    font-weight: bold;
  }
}